*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Neue Montreal, system-ui, -apple-system, BlinkMacSystemFont,  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
.parent{
    position: relative;
    top:100px;
    height: 10vh;
    background-color: blue;
    width: 100vw;
    border: 7px solid black;
 font-size: 3vh;
 flex-wrap: wrap;
}
@media (max-width:376px) {
    .parent .child1{
        width: 30%;
    }
}
.child1{
    height: 100%;
    width: 10%;
    background-color: yellow;
   border: 3px solid black;
   font-size: 0.5em;
   
}